<footer role="contentinfo">
  <a href="{{ .Site.Home.Permalink }}" class="copyright" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
  <div>{{ partial "social-follow.html" . }}</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/cloudinary-core@2.14.1/cloudinary-core-shrinkwrap.min.js"></script>
<script type="text/javascript">
    var cl = cloudinary.Cloudinary.new({cloud_name: "db2kg6drb"}); 
    // replace 'demo' with your cloud name in the line above 
    cl.responsive();
	</script>

